$lightgreen:#29b078;
$darkgreen:#26a26f;
@mixin flex {
	display:flex;
	justify-content:center;
	align-items:center;
	
}
@mixin xs {
	flex-direction: column;
		align-items:center;
		>div{
			width:70%;
		}
	}
@mixin sm {
	flex-wrap:wrap;
	>div{
		width: 45%;
	}
}
//banner
.banner{
	width:100%;
	height:40vw;
	max-height:300px;
	min-height:120px;
	background-color:lightgreen;
	position:relative;

}
  .wrap {
            width: 400%;
            height:100%;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
        }
        .carousel {
        	width: 100%;
        	height: 100%;
            position: absolute;
            animation: ma 30s ease 2s infinite normal;
            overflow: hidden;
        }
        
 @keyframes ma {
    0%,25% {left:0;animation-delay:5s;}
    25%,50% {left:-25%;}
    50%,75% {left:-50%;}
    75%,100% {left:-75%;}    
}
        .carousel img {
            width: 100%;
            height: 100%;
        }
        .carousel div {
            float: left;
            width: 25%;
            height: 100%;
            text-align: center;
        }
//content-adavantage
.content-advantage{
	@include flex;
	align-items:flex-start;
	justify-content:space-between;
	margin: 3% 0;
	>div{
		@include flex;
		flex-direction: column;
		width: 22%;
		font-size: 1.5rem;
		>div{
			padding:1rem 0;
		}
		.top{
			width: 65px;
			height: 65px;
			@include flex;
		}
		.center{
			font-size: 2rem;
		}
	}
	.advantage-relationship{
		border-right: 2px dashed lightgrey;
		padding-bottom:57px;
		padding-right:1rem;
	}
	.advantage-number{
		align-items:flex-start;
		padding-top:86px;
		img{
			display: inline-flex;
		}
	}
}

@media screen and (max-width:768px){
	.content-advantage{
		@include xs;
		.advantage-relationship{
			padding-bottom:1rem;
			border-right:transparent;
		}
		.advantage-number{
			align-items: center;
		}
	}
}
//how to learn
.content-ways{
	@include flex;
	font-size:2rem;
	margin: 4rem 0;
}
.ways-line-1,.ways-line-2{
	@include flex;
	font-size:1.5rem;
	justify-content:space-between;
	margin:1rem 0;
}
.ways1{
	@include flex;
	width:23%;
	padding:1rem 0;
}
.ways1-left{
	width:5rem;
	height:5rem;
	border-radius:50%;
	background-color:#fff;
	@include flex;
	box-shadow: 1px 1px 1px grey;

}
.ways1-center{
	padding-left:2rem;
	flex:1;
}




@media screen and (min-width:768px) and (max-width:1200px){
	.ways-line-1,.ways-line-2{
		@include sm;
		margin: 0;
		.ways1-right-2,.ways1-right-6{
			opacity: 0;
		}
	}
}
@media screen and (max-width:768px){
	.ways-line-1,.ways-line-2{
		@include xs;
		margin: 0;
		.ways1-right{
			display: none;
		}
		.ways1-center{
			padding-left:0.5rem;
		}
	}
}
//The show of good learner
.show-title{
	font-size:2rem;
	@include flex;
	margin:4rem 0;
}
.show-container{
	@include flex;
	justify-content:space-between;
}
.show-content{
	background-color:white;
	box-shadow:1px 1px 1px 1px grey;
	@include flex;
	flex-direction:column;
	width:20%;
	font-size:1.5rem;
	margin-top:2rem;
	>div{
		padding:1rem 2rem;
	}
}
@media screen and (min-width:768px) and (max-width:1200px){
	.show-container{
		@include sm;
	}

}
@media screen and (max-width:768px){
	.show-container{
		@include xs;
	}
	
}
//cooperation company
.content-cooperation-title{
	font-size:2rem;
	margin:5rem 0;
	@include flex;
}
.cooperation-container{
	@include flex;
	box-shadow:1px 1px 1px 1px grey;
	background-color:white;
}
.company-logo{
	width:20%;
	@include flex;
	padding: 3rem 0;
	&:hover{
		box-shadow:1px 1px 1px 1px grey;
	}
	img{
		max-width: 90%;
	}
}
@media screen and (max-width:768px){
	.cooperation-container{
		@include xs;
		width: 100%;
		>.company-logo{
			width: 100%;
		}
	}

}
//friendship-link
.friendship-link-title{
	font-size:2rem;
	@include flex;
	margin:5rem 0;
}
.friendship-link-content{
	margin: 5rem 0;
}
.friendship-link-content ul{
	@include flex;
	flex-wrap:wrap;
	width:100%;
	justify-content:space-between;
	div{
		@include flex;
		width: 10%;
		li{
			width: 8rem;
			list-style-position: inside;
			border-bottom:1px solid transparent;
			&:hover{
			border-bottom:1px solid $darkgreen;
		}	

		}

	}
}
li{
	width:100%;
	font-size:1.3rem;
	list-style-type:disc;
}
@media screen and (min-width:768px) and (max-width:1200px){
	.friendship-link-content ul div{
		width: 25%;
	}
}
@media screen and (max-width:768px){
	.friendship-link-content ul{
		flex-direction: column;
		div{
			width: 100%;
		}
	}
}
//footer
.footer-wrapper{
	background-color:$darkgreen;
	font-size:1.3rem;
	color:white;
	padding: 2% 0;
}
.footer{
	@include flex;
	justify-content:space-between;
	align-items:flex-start;
	a{
		color: white;
		&:hover{
			border-bottom:1px solid white;
			padding-bottom:2px;

		}
	}


}
.footer-left{
	@include flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:flex-start;
	height:108px;
	

}
.footer-middle{
	@include flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:flex-start;
	height:108px;
	span{
		padding-left: 2rem;
	}
	
}
@media screen and (max-width:768px){
	.footer{
		@include xs;
		>div{
			width:100%;
			height: auto;
		}
		.footer-blank{
			display: none;
		}
	}
}
//copyright
.copy-right{
	width:100%;
	color:white;
	background-color:$darkgreen;
	border-top:2px solid $lightgreen;
	font-size:1rem;
	@include flex;
	padding:4px 0;
}