    body{background-color: rgb(104,205,213);}
html,body{width: 100%;height: 100%;}
.arrow{position:absolute;
       left: 5%;
       top: 3%;}
       .ptteng{position:absolute;
       left: 35%;

       top: 12%;}
       .people{text-align: center;position:absolute;color: white; font-size: 250%;
       left: 25%;
       top: 70%;}
       .grape{
        text-align: center;position:absolute;color: white; font-size: 250%;
       right: 25%;
       top: 70%;}
       p{color:white;
        font-size: 300%;
        position:absolute;
         left: 15%;
         right: 15%;
       
         top: 30%;}