$blue:rgb(254,67,101);
$darkblue:rgb(254,67,101);
$grey:rgba(198,113,125,0.15);
$white:#fff;
$orange:#fe4365;
$lightpink:rgba(254,67,101,0.2);
a{
	text-decoration:none;
	color:white;
	display:inline-flex;
}
.container{
	width:95%;
}
.header{
	width:100%;
	position:fixed;
	top:0px;
	background-color:$darkblue;
	max-width:640px;
	min-width:320px;
	margin:0 auto;
	justify-content:flex-start;
	z-index: 2;
	img{
		height: 30px;
		width: auto;
		padding:12.5px 1rem;
	}
}
.body-wrapper{
	margin-top:55px;
	background-color:$grey;
	flex-direction:column;
	min-height:calc(100vh - 55px);
}
.content-button,.content-footer{
	padding-top:0.5rem;
	div{
		padding:0.5rem 0;
		width: 100%;
		font-size: 1.5rem;
		background-color:$white;
		color: $blue;
		box-shadow: 1px 1px 1px 1px $blue;
	}
}
//
.content-main{
	height:199px;
	align-items:flex-start;
	border-bottom: 1px solid $lightpink;
	div{
		font-size: 1rem;
		font-weight: bold;
		width: 50%;
		justify-content: flex-start;
	}
	img{
		width: 50px;
		height: 50px;
		padding:1rem;
	}
	span{
		display: inline-flex;
		width: 1rem;
		justify-content: center;
	}
}
@media (max-width:375px){
	.content-main img{
		padding:0.2rem;
	}
}
//number
.content-number{
	font-size:1rem;
	font-weight:bold;

	div{
		padding:3rem 0 2rem;
		padding-left:2rem;
		width: 100%;
		justify-content: flex-start;
		align-items:flex-end;
	}
	#number{
		margin: 0 1rem;
		color:$blue;
		width: 2rem;
		border:none;
		background-color:$grey;
		border-radius:10%;
		font-size: 1rem;
		outline: none;
		text-align: center;
	}
	.content-number-pink{
		color:$blue;
		font-size: 0.8rem;
		font-weight: normal;
	}
}
@media (max-width:400px){
	.content-number div{
		padding-left:0.2rem;
		font-size: 0.8rem;
	}
	.content-number #number{
		margin:0 0.2rem;
	}
}
//
.content-footer{
	flex:1;
	cursor:pointer;
	a{
		width: 100%;
	}
}
.content-footer .content-footer-button{
	background-color:$blue;
	color:white;
	padding-bottom:0.5rem;
}
