$blue:rgb(254,67,101);
$darkblue:rgb(254,67,101);
$grey:rgba(198,113,125,0.15);
$white:#fff;
$orange:#fe4365;
$lightpink:rgba(254,67,101,0.2);
$green:rgb(248,171,171);
a{
	text-decoration:none;
	color:white;
	display:inline-flex;
}
.container{
	width:95%;
}
//header
.header{
	width:100%;
	position:fixed;
	top:0px;
	background-color:$darkblue;
	max-width:640px;
	min-width:320px;
	margin:0 auto;
	justify-content:space-between;
	z-index: 2;
	font-size:1.5rem;
	color:white;
	border-bottom:2px solid $green;
	a{
		width: 30px;
		height: 55px;
		display: inline-flex;
		justify-content: center;
		align-items:center;
	}
	img{
		height: 30px;
		padding:12.5px 0;
	}
	div{
		padding:0 1rem;
	}
}
//content
.body-wrapper{
	flex-direction:column;
	margin-top:55px;
	min-height:calc(100vh - 55px);
	background-color:$blue;
	justify-content:flex-start;
	.nav-top{
		margin-top: 0.5rem;
		justify-content: flex-start;
		width: 95%;
		font-size: 0.8rem;
		font-weight:bold;
		padding:0.5rem 0 0.5rem 5%;
		background-color:$green;
		position:relative;
		.nav-triangle{
			width: 0px;
			height: 0px;
			border-top:10px solid $green;
			border-bottom:10px solid transparent;
			border-left:5px solid transparent;
			border-right:5px solid transparent;
			position:absolute;
			bottom:0;
			left: 5%;
			transform: translate(0,100%);

		}
	}
	.nav-bottom{
		margin-top: 10px;
		font-size: 0.7rem;
		color: white;
		justify-content: flex-start;
		padding-left:5%;
		width: 95%;
	}

}
.content{
	width:100%;
	background-color:$blue;
	justify-content:space-between;
	align-content:flex-start;
	flex-wrap:wrap;
	>div{
		cursor: pointer;
		flex-direction: column;
		div:first-child{
			height: 80%;
			width:100%;
			background-color:white;
			color:$blue;
		}
		div:last-child{
			width:100%;
			height: 20%;
			background-color:$green;
			color: white;
		}
		width:80px;
		height: 80px;
		background-color:$white;
		color:$blue;
		margin: 4% 5%;
		position:relative;
		&:hover img{
			display: inline-flex;
		}
		img{
			display: none;
			width: 40%;
			position:absolute;
			left: 50%;
			bottom:0;
			transform: translate(-50%,130%);
		}
	}
}
@media (max-width:350px){
	.content >div{
		width: 74px;
		height: 74px;
	}
}
//footer
.content-footer{
	position:fixed;
	bottom:0;
	margin:auto;
	max-width:640px;
	min-width:320px;
	background-color:$blue;
	div{
		padding:0.5rem 0;
		margin:0 1rem;
		width: 100%;
		font-size: 1.5rem;
		background-color:$white;
		color: $blue;
		box-shadow: 1px 1px 1px 1px $blue;
	}
}
.content-footer{
	flex:1;
	padding:1rem 0;
	cursor:pointer;
	a{
		width: 100%;
	}
}
.content-footer .content-footer-button{
	background-color:$green;
	color:white;
}