
body,html{width: 100%;margin:0;font-size: 16px;}
p{margin: 0;}
button{padding: 0;border: none;}
.bodywrapper{max-width: 640px;margin: auto;min-width: 320px;}
.headwrapper,.headercenter,.headerleft,.headerright,.contentwrapper,
.contenttop,.contentbottom,.footerwrapper,.contenttop1,.content1,.content2,
.pcontainer,.col,.row,.contentbottom1,.contentbottom2,.contentbottom3,.contentbottom1left,.contentbottom1right
{display: flex;justify-content: center;align-items: center;}

.headwrapper{width: 100%;height: 75px;position: fixed;top: 0;background-color: #29bde0;
	max-width: 640px;margin: auto;border-bottom: 1px solid white;min-width: 320px;}
.headerleft,.headerright{width: 85px;height: 100%;background-color: transparent;
	background-repeat: no-repeat;}
.headerleftbg,.headerrightbg{background-image: url(images/task7-3.png);
	background-color: transparent;border: none;}
.headerbtn{background-color: transparent;border: none;height: 100%;}
.headerleftbg{background-position: 0 -40px;width: 51px;height: 42px;}
.headerrightbg{background-position: 0 0;width: 40px;height: 40px;}
.headercenter{flex: 1;height: 100%;color: white;font-size: 2rem;}

.contentwrapper{width: 100%;height: 660px;margin:75px auto 70px auto;flex-direction: column;justify-content: flex-start;
	}
.content1{width: 100%;height: 400px;margin: 0 auto;flex-direction: column;background-color: #29bde0;}
.content2{width: 100%;height: 300px;background-color: white;flex-direction: column;}
.contenttop{height: 400px;width: 80%;background-color: #29bde0;;flex-direction: column;}
.contenttop1{width: 100%;height: 150px;background-image: url(images/win3.png);background-repeat: no-repeat;
	background-position: center;background-size: 175.5px 102.5px; color: white;font-size: 1.5rem;align-items: flex-end;}
.victory{padding-bottom: 25px;}
.contenttop2{width: 100%;height: 85px;color: #ffc865;font-weight: bold;letter-spacing: 0.1rem;}
.contenttop3{width: 100%;height: 165px;color: white;font-size: 1rem;display: flex;flex-direction: column;}
.contenttop3 >div{height: 51.86px;}
.pcontainer{width: 100%;flex-direction: column;}
.col{justify-content: space-between;flex: 1;width: 100%;}
.row{width: 33.333%;height: 100%;}
.col p{
	display: inline-flex;justify-content: flex-start;
}
.contenttop3 div:first-child{align-items: flex-end;display: flex;height: 25.94px;}
.contenttop3 >div:last-child{justify-content: space-around;display: flex;flex-direction: column;}

.contentbottom{background-color: white;width: 100%;height: 100px;flex-direction: column;
	border-bottom: 1px solid #ddd;justify-content: flex-start;}
.contentbottom1{width: 80%;height: 40px;}
.contentbottom1left{width: 50%;height: 100%;font-size: 1.5rem;justify-content: flex-start;}
.contentbottom1right{width: 50%;height: 80%;font-size: 0.5rem;justify-content: flex-end;color: #d5d5d5;}
.contentbottom2,.contentbottom3{width: 80%;height: 20px;font-size: 0.9rem;justify-content: flex-start;color: #bcbcbc;}

.footerwrapper{width: 100%;height: 70px;position: fixed;bottom: 0px;justify-content: space-around;min-width: 320px;
	max-width: 640px;margin:auto;background-color:rgba(41,189,224,0.5);}
.redbtn,.yellowbtn{color: white;height: 50px;width: 150px;background-color: #f66f6f;border-radius: 10px;font-size: 1.5rem;}
.yellowbtn{background-color: #fbb435;}
