body{margin: 0;width: 100%;font-size: 62.5%;
	min-width: 300px;background-color: #f9f9f9;}
.headerwrapper{background-color: #1d7ad9;color: white;font-size: 1.3rem;}
.headerright{display: flex;justify-content: flex-end;align-items: center;}
.loginwrapper{display: flex;}
.login{background-color: white;color: black;}
.headerleft,.signin,.login{padding-top: 1rem;padding-bottom: 1rem;}
.signin,.login{padding:1rem 1rem;width: 5rem;}
.signin{border-left:1px solid lightblue;}



.navwrapper{padding-top:2%;padding-bottom: 2%;}

.navbar{border: none;background-color: #f9f9f9;margin-bottom: 0;}
.nav li{background-color: white;border-radius: 10%;}
.nav li:hover{background-color: #1d7ad9;}
.nav li a:hover{color: white!important;}
.nav>li>a{padding: 8px 13px;}
@media screen and (max-width: 768px) {.navwrapper{padding: 0;}
	.other a{text-align: center;}.nav li{border-radius: 0;}}
}
@media screen and (min-width: 768px)
{.other{margin-left: 11.8%;}.nav{width: 600px;}
.other{box-shadow: 1px 1px 1px #e6e6e6;}
}
.other a{font-size: 1.5rem;color: black!important;}


.navbottomwrapper{background-color: white;}
.bar{width: 100%;height: 100px;}
.box1,.box2,.box3,.box4{width: 140px;height: 100px;position: relative;float: right;;}
.line,.line1,.line2,.line3,.line4{background-color: grey;width: 100%;height: 10px;border-radius: 10px 10px;position: absolute;top: 20px;}
.line{border-radius: 0;background-color: grey;}
.circle{width: 30px;height: 30px;border-radius: 50%;background-color: grey;position: absolute;top: 10px;left: 55px;
	display: flex;align-items: center;justify-content: center;color: white;}
.box1:hover .line1{background-color: orange;}
.box2:hover .line2{background-color: orange;}
.box3:hover .line3{background-color: orange;}
.box4:hover .line4{background-color: orange;}
.box1:hover .circle4{background-color: orange;}
.box2:hover .circle3{background-color: orange;}
.box3:hover .circle2{background-color: orange;}
.box4:hover .circle1{background-color: orange;}
.box1:hover .text4{color: orange;}
.box2:hover .text3{color: orange;}
.box3:hover .text2{color: orange;}
.box4:hover .text1{color: orange;}
.line4r{border-bottom-left-radius: 10px 10px;border-top-left-radius: 10px 10px;}
.line1r{border-bottom-right-radius: 10px 10px;border-top-right-radius: 10px 10px;}
.strangetext{position: absolute;bottom: 0;width: 100%;text-align: center;font-size: 2rem;color: grey;}
@media screen and (max-width: 767px){.navbottom .bar{margin: 0;padding: 0;}.box1,.box2,.box3,.box4{width: 70px;height: 50px;}
	.line,.line1,.line2,.line3,.line4{height: 5px;top:12.5px;}
	.circle{width: 15px;height: 15px;left: 27.5px;}
	.strangetext{font-size: 1rem;}

	}
.strangebar{padding-bottom: 15px;}


.pleasewrapper{display: flex;align-items: center;padding-left: 0;}
.rectangle{background-color: blue;width: 0.5rem;height: 1.9rem;border-radius: 5px 5px;}
.please{color: black;font-size: 1.7rem;padding-left: 0.5rem;}




.contentwrapper{background-color: white;}
.boxtype{background-color: #e6e6e6;font-size: 1.5rem;padding-top: 2%;padding-bottom: 2%;
	color: #1d7ad9;display: flex;align-items: center;padding-left: 1rem;}

.inputleftwrapper{padding-left: 0;}
.selectwrapper{display: flex;justify-content: flex-end;align-items: center;}
.inputleftwrapper div{padding-left: 40px;display: flex;align-items: center;}
@media screen and (max-width: 767px){.inputleftwrapper div{text-align: left;}.boxtype{margin-right: 15px;}}
.inputrow{background-color: white;}
.boximg{display: flex;align-items: center;width: 25px;height: 15px;}
.boximg img{padding-right: 6px;max-width: 100%;}
label{width: 12px;height: 12px;background-color: white;border:1px solid #666;border-radius: 50%;
	position:absolute;left: 35px;top: 2.4px;}

input:checked+label{border:4px solid blue;}

.inputleftwrapper input{opacity: 0;}
.inputrow{margin-bottom: 5px;margin-top: 5px;}
.boxsize span{padding-right: 1rem;}
.sizeinputrow,.buding{width: 100%;margin-left: 0!important;margin-right: 0px!important;}
select{-webkit-appearance:none;background:url(images/arrow.png) no-repeat; background-size: 15px 15px;background-position: right 0;
	padding-right: 1.5rem;}
.boxsize input{opacity: 1;width: 4rem;}
.inputleftwrapper1 div{display: block;}
.inputleftwrapper1 .boxname{display: flex;align-items: center;}
.buding2{float: right;padding-right: 0;}
.buding{padding-left: 15px!important;padding-right: 0px!important;padding-top: 1%;padding-bottom: 1%;}
@media screen and (max-width: 992px) {.inputleftwrapper1 div{padding-left: 35px;
	}.buding .col-md-3{padding-top:1%;padding-bottom: 1%;}.boxname label{margin-bottom: 0;top:8.3px;}.boxname span{padding-left: 1rem;}}


.inputrow{border:1px solid lightgrey;margin-top: 0;margin-bottom: 0;}
.choosebox{border:none;}
.blankwrapper{width: calc(100%+30px);margin:0 -15px;display: flex;justify-content: center;}
.buding2 .selectwrapper{padding-right: 15px;}
.inputrow1,.inputrow3{padding-top: 2%;padding-bottom: 2%;}
@media screen and (min-width: 992px){.buding2{padding-top: 33px;padding-bottom: 33px;}} 
@media screen and (max-width: 992px){.buding2{padding-top: 2%;}   
.row3{width: 15rem;}}



.nextstep{display: flex;justify-content: center;align-items: center;
	height: 200px;border:1px solid lightgrey;border-top: none;}
.nextstep button{width: 10rem;}
.contentcontainer{padding-bottom: 5%;}
.footercenter{display: flex;flex-direction: column;align-items: center;justify-content: center;}
.firstrow{display: flex;justify-content: center;}
.secondrow{display: flex;justify-content: center;}
.firstrow>div,.secondrow>div{width: 6rem;}
.tel{width: 100%;}
.footercenter a{text-decoration: none;color: grey;font-size: 1.5rem;}
.footercenter a:hover{color: blue;}
.footercenter>div{padding-bottom: 5%;}
.footerleft{font-size: 1.8rem;color: grey;}
.footerright{display: flex;justify-content: flex-end;}
.footerrightleft{height: 92px;display: flex;
	justify-content: space-between;font-size: 1.5rem;color: grey;flex-direction: column;}
.footerrightleft div{text-align: left;}
.footerrightright{width: 92px;height: 92px;display: flex;justify-content: flex-end;}
.footerleft,.footerright,.footercenter{padding-left: 0;padding-right: 0;}
.footercontainer{padding:3% 0;}
@media screen and (max-width: 992px){.footercenter,.footerright{justify-content: flex-start;}.footercenter{align-items: flex-start;padding-top: 2%;}
	.footercenter>div{padding-bottom:2%;}}
.copyrightwrapper{background-color: #1d7ad9;width: 100%;display: flex;justify-content: center;align-items: center;}
.copyright{color: white;padding-top: 1%;padding-bottom: 1%;}





