$blue:#5fc0cd;
$grey:#eff0f4;
@mixin btn {
	background-color:transparent;
	color:white;
	border:none;
	width:100%;
	height:100%;
	outline:none;
	cursor:pointer;
	font-size:2rem;
}
@mixin link {
	color:white;
	text-decoration:none;
}


body,html{
	width:100%;
	margin:0 auto;
	font-size:62.5%;
	background-color:$grey;
	min-width:300px;	
}
.header{
	background-color:$blue;
	color:white;
	
	line-height:4rem;
	font-size:2rem;
	text-align:center;
	padding: 1.5% 0;
	.header-left{
		float:left;
		padding-left: 2rem;
		button{
			@include btn;
		}
	}
	.header-center{
		font-size: 3rem;
		
	}
	.header-right{
		float: right;
		padding-right:2rem;
		button{
			@include btn;
		}
	}
}

.content-top,.content-bottom{
	height:5rem;
	line-height:5rem;
	background-color:white;
	margin-top:2%;
	padding: 1% 0;
	img{
		vertical-align: middle;
		padding: 0 3rem;
	}
	input{
		vertical-align: middle;
		padding-left:3rem;
		height: 4rem;
		width: 55%;
		border: none;
		border-left: 1px solid lightgrey;
		outline: none;
		font-size: 2rem;
		&::placeholder{
			color: $grey;
		}
	}
}
.footer{
	margin-top:3%;
	background-color:$blue;
	text-align:center;
	button{
		@include btn;
		font-size: 3rem;
		letter-spacing: 1rem;
		padding: 1% 0;
	}
}
.forget-password{
	a{
		@include link;
		font-size: 2rem;
		color: $blue;
		float: right;
		padding-right:2rem;
		padding-top:1%;
	}
}
