body{width: 100%;margin: 0;font-size: 16px;}

.header1,.header1left,.header1center,.header1right,.header2,.header2left,
.header2right,.header3,.header4,.footer1,.footer1inside,.contentwrapper,
.content,.column,.contentboxtop1,.contentboxtop2,.contentboxbottom,.icon,.footer1inside{display: flex;justify-content: center;align-items: center;}

.bodywrapper{width: 100%;height: 660px;max-width: 640px;margin: auto;background-color: #29bde0;min-width: 320px;}
.headerwrapper{width: 100%;height: 170px;position: fixed;top: 0px;max-width: 640px;background-color: #29bde0;min-width: 320px;}

.header1{width: 100%;height: 70px;}
.header1left,.header1right{width: 85px;height: 100%;background-position: center;
	background-repeat: no-repeat;}
.header1center{flex: 1;height: 100%;color: white;font-size: 2rem;}
.header1leftbtn,.header1rightbtn,.header2rightbtn{width: 100%;height: 100%;background-color: transparent;
	border:none;}
.header1left{background-image: url(images/menu2.png);}
.header1right{background-image: url(images/close2.png);}
.header2{width: 100%;height: 60px;background-color: #b9e9f5;}
.header2left{flex: 1;height: 100%;justify-content: flex-start;padding-left: 30px;font-size: 1rem;}
.header2right{width: 95px;height: 100%;background-position:center;
	background-image: url(images/playbackground2.png);background-repeat: no-repeat;}
.header2rightbtn{background-image: url(images/play2.png);background-repeat: no-repeat;background-position: 38px 14px;}
.header3{width: 100%;height: 13px;align-items: flex-start;justify-content: flex-start;padding-left: 70px;}
.triangle{width: 0;height: 0;border:8px solid transparent;border-top:13px solid #b9e9f5;}
.header4{width: 100%;height: 27px;color: white;padding-left: 70px;justify-content: flex-start;font-size: 1rem;}
.contentwrapper{width: 100%;height: 615px; margin-top: 170px;margin-bottom: 95px;background-color: #29bde0;}
.content{width: 100%;height: 600px;margin-top: 15px;background-color: #29bde0;
	flex-direction: column;}
.column{flex: 1;width: 100%;justify-content: space-around;}
.contentrow{width: 100px;height: 100%;}
.contentboxtop{width: 90px;height: 90px;border: 5px solid white;color: black;display: flex;flex-direction: column;}
.contentboxtop1{width: 100%;height: 72px;background-color: #f5c97b;font-size: 1.5rem;}
.contentboxtop2{width: 100%;height: 18px;background-color: #83b09a;color: white;}
.contentboxbottom{justify-content: space-around;height: 60px; display: none;}
.icon{width:20px;height: 20px;background-color: white;}
img{width: 15px;height: 15px;}
.contentrow:hover .contentboxbottom{display: flex;}


.footerwrapper{width: 100%;height: 95px;position: fixed;bottom: 0px;max-width: 640px;background-color: #29bde0;min-width: 320px;}
.footer1{width: 100%;height: 85px;}
.footer1inside{height: 43px;width: 75%;background-color: #fbb435;color: white;font-size: 1.5rem;}
.footer2{width: 100%;height: 10px;}
.footerbtn{width: 100%;height: 100%;border: none;background-color: transparent;font-size: 1.5rem;color: white;padding: 0;}
a{width: 100%;height: 100%;}
.music{position: absolute;top:84px;height: 32px;right: -375px;
	z-index: 2;color: transparent;opacity: 0;transform: scale(2);}