body{width: 100%;margin: 0;}


.header,.nav,.footer{display: flex;height: 150px;width: 100%;
background-color: #5fc0cd;position: fixed; z-index: 10;}
.header{top: 0px;}
.header1,.header3{display: flex;flex: 1.5;}
.header2{display: flex;flex: 5;}
.a,.header4,.main,.n,.nav,.m,.wrapper1,.up,.down,.footer2,.input,.btn12,.btn11{display: flex; 
	justify-content: center;align-items: center;}
.position{transform: scale(1.5);}
.header4{width: 70%;height: 120px;flex-direction: row;
	background-color: #55a8b3;border-radius: 10px;}
.ff{width: 100%;height: 120px;}
.btn11,.btn12{width: 50%;height: 120px;background-color: transparent;
border-radius: 10px!important; font-size: 4rem;}
.btn12{background-color: white;color:#5fc0cd;}
.btn11{color: white;padding: 0;}



.nav{border-bottom: 2px solid #e1e5e7; font-size: 4rem;
color: #999;}
.nav{background-color: white;top: 150px;}
.n{flex: 1;border-right: 2px solid #e1e5e7;height: 100px;}
.nav,.btn-group,.a{display: flex;justify-content: center;align-items: center;}
.nav{height: 150px;}
.aa{flex: 1;height: 100%;}
.bb{width:100%;height: 100%;}
.cc{border: none;width: 100%;height: 100%;font-size: 3rem;}
ul{width: 100%;}
li{width: 100%; text-align: center;font-size: 3rem;}
.caret{float: right;margin-top: 20px;transform: scale(3);margin-right: 10px;}
.cc{height: 80%;border-right: 1px solid #e1e5e7;border-radius: 0;}



.main{flex-direction: column;height: 1440px;
	margin: 300px 0px 150px 0px; font-size: 3rem; color: #999;}
.m{flex: 1; border-bottom: 2px solid #e1e5e7;width: 100%;
    flex-direction: column;
   }
.wrapper1{height: 210px;margin:15px 0;width: 100%;flex-direction: column;
}
.ma{display: flex; flex: 1;justify-content: flex-start; width: 100%; align-items: center;}
.price{letter-spacing:0.3rem;width: 50%;height: 100%;}
.time{letter-spacing:0.3rem;width: 50%;height: 100%;}
.time{color: black;flex:1;
	text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.price{color: red;text-align: right;}
.calendar,.place{width:24px;height: 24px;border:none;margin: 0 16px 0 24px;
 background-image: url(images/spirit.png);}
.place{background-position: 0 -24px;}
.mainb{padding-left: 64px;}
.arrow{width: 19px;height: 33px;border:none;margin: 0 24px 0 16px;
background-image: url(images/arrow.png);background-color: transparent;}







.footer{background-color: #f8fafb;bottom: 0;}
.f{flex: 1;display: flex;}
.footer1{display: flex;justify-content: flex-end;}
.home{display: flex;width: 150px;height: 150px;flex-direction: column;}
.up{width: 150px;height: 100px;
	background-image: url(images/home.png);
	background-repeat: no-repeat;background-position: center;
    background-size: 69px 60px;}
.down{flex: 1;color: #5fc0cd;font-size: 3rem;}
.house{background-color: transparent;width: 150px;height: 100px;border:none;}

.circle,.write{width: 150px;height: 150px;border:none;
background-repeat: no-repeat;background-position: center;}
.circle{background-image: url(images/background.png);background-size: 140px 140px;}
.write{background-color: transparent;background-image: url(images/write.png);
background-size: 70px 70px;}





.pu{background-image: url(images/people.png);}
.pu2{color: #999;}
.ma,.time{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}


