body,p{margin: 0px;}
html,body{width: 100%;}
#header{width: 100%;height: 100px; background-color:#5fc0cd; 
	position: fixed;top: 0px; z-index: 100;}
#footer{width: 100%;height: 100px; background-color:#5fc0cd;
    position: fixed;bottom: 0px; z-index: 100;}
#headerleft{width:10%; height: 100px;float: left; text-align: center; 
	}
#headercenter{width: 80%;height: 100px;line-height: 100px;
	text-align: center; color: white;font-size: 2em; float: left;}
	#headerright{width:10%; height: 100px;float: right; text-align: center; }
#return{margin-top:31.5px;}
#maintop{width: 100%; height: 600px;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: 100% 600px;
margin-top: 100px;
display: flex;
flex-direction: row;}
 #maintopleft{height: 600px;display: flex;
 	justify-content: center;align-items: center; flex: 1;}
 #maintopright{display: flex;flex-direction: column;flex: 2;}
 #maintopright1,#maintopright4{height: 200px;}
 #maintopright2,#maintopright3{flex: 1; display: flex; align-items: center;}
 #maintopright2{font-size: 3em;color: white;}
 #maintopright3{font-size: 2em;color: white;}
 #people{transform: scale(1.5);}
 #box1,#box2,#box3,#box4,#box5,#box6{display: flex;align-items: center;
 	font-size: 3em;

 	width: 100%; height: 200px;
 	 border: 1px solid black;}
 #box6{margin-bottom: 100px;}
 .line,.a{margin-left: 40px;margin-right: 40px;}
 .a{transform: scale(2);}
 span{color: grey;}
 #red{color: red;}
 #introduce{white-space: nowrap;}