body{margin: 0;font-size: 62.5%;width: 100%;min-width: 300px;background-color: #fafafa;}
p{margin: 0;}

.header{display: flex;}
.headerleft{flex: 1;justify-content: flex-start;align-items: center;display: flex;}
.headerright{flex: 1;display: flex;justify-content: flex-end;align-items: center;padding: 1%;}
.headerright a{margin-right:5%;}
.headermax{background-color: #fff;width: 100%;}


.navigation{background-color: #29b078;}
.navbar-default{margin-bottom: 0;}
.navbar-brand img{max-width: 100%;}
.navbar-brand{width: 217px;display: flex;align-items: center;}
.navigation .container{background-color: #29b078;border: none;}
.navbar-toggle{margin-top: 8px;margin-bottom: 8px;}
.navbar-right li a{color: white!important;font-size: 2rem;}
div ul li{border-bottom: 3px solid transparent;}
div ul li:hover{border-bottom-color: white;}
@media screen and (max-width: 767px){.nav1{margin-top: 10px;}.navbar{padding-top: 10px;padding-bottom: 10px;}}
li{text-align: center;}
@media screen and (min-width: 768px){div ul li{padding-top: 25px;padding-bottom: 25px;}.navbar-brand{padding-top: 46.5px;}}





.banner{width: 100%;}
div.item img{width:100%;}
div#carousel-example-generic{width:100%;margin:0 auto;}

.contenttop,.contentmiddle,.contentbottom,.cooperation,.link,.footerwrapper{margin-top: 8%;}
.contenttopinside{display: flex;justify-content: center;align-items:center;flex-direction: column;}
.contentimg{height: 60px; display:flex; align-items: center;justify-content: center;}
.contenttopinside3{border-right: 2px dashed lightgrey;}
.contenttopinside4{display: flex;justify-content: center;align-items: center;height: auto;padding: 2.2% 0;}
.number{display: flex;justify-content: center;align-items: flex-start;flex-direction: column;}
.number p{display: flex;align-items: baseline;padding-bottom: 5%;}
@media screen and (max-width: 991px){.number{align-items: center;}.contenttopinside3{border: none;}}


.howtostudy,.goodlearner,.cooperationtitlereal,.linktitle{display: flex;justify-content: center;align-items: center;margin-bottom: 5%;}
.learnways{display: flex;justify-content: flex-start;align-items: center;margin-bottom: 1%;margin-top: 1%;padding: 0;}
.order{padding: 2rem;width: 1rem;height: 1rem;
	display: flex;align-items: center;justify-content: center;border-radius: 50%;box-shadow: 1px 1px 2px #888888;}
.learnways p{padding-left: 1rem;}

@media screen and (min-width: 1200px){.arrowswrapper4,.arrowswrapper8{opacity: 0;}}
@media screen and (max-width: 1200px){.learnways{justify-content: center;}
.arrows{text-align: center;}.arrows img{transform: rotate(90deg);}.arrowswrapper8{opacity: 0;}}



.arrows{margin: 0 10%;padding: 27.19px 15px;}
.learnways div p{width: 100%;}
.para{width: 15rem;}



.learnercontainer{display: flex;flex-direction: column;justify-content: center;align-items: center;
	background-color: white;margin: 5% 8%;box-shadow: 1px 2px 2px 2px #e7e7e7;}
.introduction{padding:0 10% 5% 10%;color: #999;font-size: 1.5rem;}
.headericon{padding: 5% 0;}
.name{font-weight: bold;color: black;}
.dotscontainer{display: flex;justify-content: center;align-items: center;}
.realdots{width: 0.5%;padding: 0.5%;border-radius: 50%;background-color: grey;margin: 1%;}

.cooperationcontent1 img{max-width: 100%;height:auto;}
.cooperationcontent{margin: 5% auto;box-shadow: 2px 2px 2px 2px #999;}
.cooperationcontent1{width: 20%;display: flex;justify-content: center;padding: 5% 5%;}
.cooperationcontent1:hover{box-shadow: 2px 2px 2px 2px #999;}
@media screen and (max-width: 767px){.cooperationcontent1{width: 100%;margin: 5% 0;}}
.link1{margin: 0;padding: 0;font-size: 0.5rem;display: flex;
	justify-content: center;justify-content: center;min-width: 6rem;}
.friend{width: 6rem;display: flex;justify-content: flex-start;border-bottom: 2px solid transparent;}
.friend{color:#999;}
.friend a:hover{text-decoration: none;}
.friend a{color: currentColor;}
.friend:hover{border-color: #26a26f;}



.footerleft{display: flex;flex-direction: column;}
.footerwrapper{background-color: #29b078;color: white;}

.about,.jnshu{display: flex;padding: 4% 0;}
.aboutus,.contactus,.coo{border-right: 2px solid white;padding: 0 2%;}
.aboutus{padding-left: 0;}
.coo{border-right: none;}
.footerbottom{border-top: 1px solid white;text-align: center;}
.websitewrapper1{display: flex;padding: 3% 0;}
.website{padding-top: 3%;}
.it,.tablegame{padding-left: 2%;}
.footerright1{padding: 1% 0;display: flex;flex-direction: column;align-items: center;}
.footerright{display: flex;justify-content: flex-start;padding: 1% 0;}
.footertop a{color: currentColor;}

