body{margin: 0;font-size: 62.5%;width: 100%;min-width: 300px;background-color: white;}
p{margin: 0;}

.header{display: flex;}
.headerleft{flex: 1;justify-content: flex-start;align-items: center;display: flex;}
.headerright{flex: 1;display: flex;justify-content: flex-end;align-items: center;padding: 1%;}
.headerright a{margin-right:5%;}
.headermax{background-color: #fff;width: 100%;}


.navigation{background-color: #29b078;}
.navbar-default{margin-bottom: 0;}
.navbar-brand img{max-width: 100%;}
.navbar-brand{width: 217px;display: flex;align-items: center;}
.navigation .container{background-color: #29b078;border: none;}
.navbar-toggle{margin-top: 8px;margin-bottom: 8px;}
li a{color: white!important;font-size: 2rem;}
li{border-bottom: 3px solid transparent;}
@media screen and (max-width: 767px){.nav1{margin-top: 10px;}.navbar{padding-top: 10px;padding-bottom: 10px;}}
li{text-align: center;}
@media screen and (min-width: 768px){li:hover{border-bottom-color: white;}
	li{padding-top: 25px;padding-bottom: 25px;}.navbar-brand{padding-top: 46.5px;}}




.direction,.front,.homepage{padding: 1% 0;border-bottom: 1px solid #d0d6d9;}
.direction{border-color: #edf1f2;}
span{padding: 0 1rem;}
.headerright span{padding:0;}
.intro-content{background-color: white; margin: 5%; box-shadow:2px 2px 3px #aaaaaa;}
.intro-top{display: flex;justify-content: center;align-items: center;}
.intro-topleft{padding: 5% 15px;}

.intro-content{position: relative;}
.hidden1{display: flex;flex-direction: column;justify-content: center;align-items: center;
	position: absolute;top: 0;left: 0;background-color:rgba(0,0,0,0.5);
	 height: 100%;width: 100%;z-index: -1;}
.hiddenwrapper1{padding: 15px 5%;display: flex;flex-direction: column;justify-content: center;align-items: center;z-index: 5;}
.hiddencontent1{font-size: 1.5rem;padding: 10px 5px 30px 5px;text-indent: 2rem;z-index: 5;color: white;}
.hiddentitle1{color: white;}


.intro-content:hover .hidden1{z-index: 2;}
.intro-topright p{word-break: break-all;}




.footerleft{display: flex;flex-direction: column;}
.footerwrapper{background-color: #29b078;}

.about,.jnshu{display: flex;padding: 4% 0;}
.aboutus,.contactus,.coo{border-right: 2px solid white;padding: 0 2%;}
.aboutus{padding-left: 0;}
.coo{border-right: none;}
.footerbottom{border-top: 1px solid white;text-align: center;}
.websitewrapper1{display: flex;padding: 3% 0;}
.website{padding-top: 3%;}
.it,.tablegame{padding-left: 2%;}
.footerright{padding: 1% 0;display: flex;flex-direction: column;align-items: center;}


